body {
  margin: 0;
}

a {
  color: #ff4081;
  font-weight: bold;
  text-decoration: none;
  transition: color 0.4s;
}

a:hover {
  color: #ff79a7;
}

.card-heading {
  padding: 16px;
}

.field-line, .button-line {
  padding: 16px;
}

.container {
  margin: 0 auto;
  text-align: center;
  width: 700px;
}

nav {
   margin-bottom: 16px;
}
nav a {
  margin: 0 8px;
}

.error-message {
  padding: 0 16px;
  color: tomato;
}

.success-message {
  padding: 0 16px;
  color: green;
}
